<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="A-2085-04-parallel-gripper_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>
        <xacro:property name="home_position" value="${load_yaml(initial_positions_file)['home_position']}"/>
        <xacro:property name="families" value="${load_yaml(initial_positions_file)['families']}"/>
        <xacro:property name="names" value="${load_yaml(initial_positions_file)['names']}"/>
        <xacro:property name="hrdf_pkg" value="${load_yaml(initial_positions_file)['hrdf_pkg']}"/>
        <xacro:property name="hrdf_file" value="${load_yaml(initial_positions_file)['hrdf_file']}"/>
        <xacro:property name="gains_pkg" value="${load_yaml(initial_positions_file)['gains_pkg']}"/>
        <xacro:property name="gains_file" value="${load_yaml(initial_positions_file)['gains_file']}"/>
        <xacro:property name="use_mock_hardware" value="${load_yaml(initial_positions_file)['use_mock_hardware']}"/>
        <xacro:property name="use_gazebo" value="${load_yaml(initial_positions_file)['use_gazebo']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
              <xacro:if value="${use_mock_hardware}">
                <plugin>mock_components/GenericSystem</plugin>
              </xacro:if>
              <xacro:if value="${use_gazebo}">
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
              </xacro:if>
              <xacro:unless value="${use_mock_hardware or use_gazebo}">
                <!-- Parameters to initialize the Components -->
                <param name="families">${families}</param>
                <param name="names">${names}</param>
                <param name="hrdf_pkg">${hrdf_pkg}</param>
                <param name="hrdf_file">${hrdf_file}</param>
                <param name="gains_pkg">${gains_pkg}</param>
                <param name="gains_file">${gains_file}</param>
                <param name="home_position">${home_position}</param>
                <plugin>hebi_hardware/HEBIHardwareInterface</plugin>
              </xacro:unless>
            </hardware>
            <joint name="J1_base">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J1_base']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="J2_shoulder">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J2_shoulder']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="J3_elbow">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J3_elbow']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="J4_wrist">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J4_wrist']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="end_effector/input_l_finger">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['end_effector/input_l_finger']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>

        <!-- Gazebo Classic plugins -->
        <xacro:if value="${use_gazebo}">
          <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
              <parameters>$(find hebi_a-2085-04-parallel-gripper)/config/ros2_controllers.yaml</parameters>
            </plugin>
          </gazebo>
        </xacro:if>
    </xacro:macro>
</robot>
